<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>DESIRE SPORTWEAR</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<header>
    <div class="logo">
        <a href="index.html"><img src="img/LogoLetter.svg" alt=""></a>
    </div>
    <div class="menu">
        <li><a href="">QUẦN</a>
            <ul class="sub-pant">
                <li><a href="">Aidas</a></li>
                <li><a href="">Nike</a></li>
                <li><a href="">New Balance</a></li>
                <li><a href="">Puma</a></li>
                <li><a href="">Reebok</a></li>
                <li><a href="">Converse</a></li>
                <li><a href="">MLB</a></li>
                <li><a href="">Asics</a></li>
            </ul>
        </li>
        <li><a href="">ÁO</a>
            <ul class="sub-pant">
                <li><a href="">Aidas</a></li>
                <li><a href="">Nike</a></li>
                <li><a href="">New Balance</a></li>
                <li><a href="">Puma</a></li>
                <li><a href="">Reebok</a></li>
                <li><a href="">Converse</a></li>
                <li><a href="">MLB</a></li>
                <li><a href="">Asics</a></li>
            </ul>
        </li>

        <li><a href="">GIÀY</a></li>
        <li><a href="">TÚI XÁCH/BALO</a></li>
        <li><a href="">PHỤ KIỆN</a></li>
        <li><a href="">SALE</a></li>
        <li><a href="">THƯƠNG HIỆU</a></li>
    </div>

    <div class="others">
        <li><input placeholder="Tìm kiếm" type="text" style="font-weight: bold;"> <i class="fas fa-search"
                                                                                     style="color: darkred;"></i></li>
        <li> <a class="fa fa-user" href=""></a></li>
        <li> <a class="fa fa-shopping-bag" href=" "></a></li>

    </div>
</header>
<body>

<!-- * ------------------------------------------CATEGORY------------------------------------- */ -->

<section class="category">
    <div class = "container">
        <div class = "category-top row">
            <p>Trang chủ</p><span>&#8594;</span><p>Quần</p><span>&#8594;</span><p>Adidas</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="category-left">
                    <ul>
                        <li class="category-left-li"><a href="#">Quần</a>
                            <ul>
                                <li><a href= "">Adidas</a></li>
                                <li><a href= "">Nike</a></li>
                                <li><a href= "">Reebok</a></li>
                                <li><a href= "">Under Armour</a></li>
                                <li><a href= "">New Balance</a></li>
                                <li><a href= "">MLB</a></li>
                                <li><a href= "">Converse</a></li>
                                <li><a href= "">Asics</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">Áo</a>
                            <ul>
                                <li><a href= "">Adidas</a></li>
                                <li><a href= "">Nike</a></li>
                                <li><a href= "">Reebok</a></li>
                                <li><a href= "">Under Armour</a></li>
                                <li><a href= "">New Balance</a></li>
                                <li><a href= "">MLB</a></li>
                                <li><a href= "">Converse</a></li>
                                <li><a href= "">Asics</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">Giày</a>
                            <ul>
                                <li><a href= "">Adidas</a></li>
                                <li><a href= "">Nike</a></li>
                                <li><a href= "">Reebok</a></li>
                                <li><a href= "">Under Armour</a></li>
                                <li><a href= "">New Balance</a></li>
                                <li><a href= "">MLB</a></li>
                                <li><a href= "">Converse</a></li>
                                <li><a href= "">Asics</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">Túi xách/Balo</a>
                            <ul>
                                <li><a href= "">Adidas</a></li>
                                <li><a href= "">Nike</a></li>
                                <li><a href= "">Reebok</a></li>
                                <li><a href= "">Under Armour</a></li>
                                <li><a href= "">New Balance</a></li>
                                <li><a href= "">MLB</a></li>
                                <li><a href= "">Converse</a></li>
                                <li><a href= "">Asics</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="">Phụ kiện</a>
                            <ul>
                                <li><a href= "">Adidas</a></li>
                                <li><a href= "">Nike</a></li>
                                <li><a href= "">Reebok</a></li>
                                <li><a href= "">Under Armour</a></li>
                                <li><a href= "">New Balance</a></li>
                                <li><a href= "">MLB</a></li>
                                <li><a href= "">Converse</a></li>
                                <li><a href= "">Asics</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="category-right row">
                    <div class="category-right-top-items">
                        <p>Nam</p>
                    </div>
                    <div class="category-right-top-items">
                        <button><span>Bộ lọc</span><i class="fa-sharp fa-light fa-sort-down"></i></button>
                    </div>
                    <div class="category-right-top-items">
                        <select name="" id="">
                            <option value="">Sắp xếp</option>
                            <option value="">Giá cao đến thấp</option>
                            <option value="">Giá thấp đến cao</option>
                        </select>
                    </div>
                    <div class="category-right-content row">
                        <div class="category-right-content-items">
                            <img src="img/sp1.avif" alt="">
                            <h1>Áo phông bóng chày Adidas</h1>
                            <p>800.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-items">
                            <img src="img/sp2.avif" alt="">
                            <h1>Áo phông bóng chày Adidas</h1>
                            <p>800.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-items">
                            <img src="img/sp3.avif" alt="">
                            <h1>Áo phông bóng chày Adidas</h1>
                            <p>1.500.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-items">
                            <img src="img/sp4.avif" alt="">
                            <h1>Áo phông bóng chày Adidas</h1>
                            <p>500.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-items">
                            <img src="img/sp5.avif" alt=    "">
                            <h1>Áo phông bóng chày Adidas</h1>
                            <p>1.200.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-items">
                            <img src="img/sp6.avif" alt="">
                            <h1>Áo phông bóng chày Adidas</h1>
                            <p>1.000.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-items">
                            <img src="img/sp7.avif" alt="">
                            <h1>Áo phông bóng chày Adidas</h1>
                            <p>700.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-items">
                            <img src="img/sp8.avif" alt="">
                            <h1>Áo phông bóng chày Adidas</h1>
                            <p>1.800.000<sup>đ</sup></p>
                        </div>
                    </div>
                    <!-- Biểu thị số trang ở cuối trang -->
                    <div class="category-right-bottom row">
                        <div class="category-right-bottom-items">
                            <p>Hiển thị 2 <span>|</span> 4 sản phẩm</p>
                        </div>
                        <div class="category-right-bottom-items">
                            <p><span>&#171; <span>1 2 3 4 5</span> &#187;</span>Trang cuối</p>
                        </div>

                    </div>
                </div>
                <!-- Hết category right -->


            </div>

        </div>


</section>





<!-- * ------------------------------------------FOOTER------------------------------------- */ -->
<footer>
    <section class="footer-left">
        <div class="footerImg">
            <div><a href="index.html"><img src="img/testicon.png" alt=""></a></div>
            <div><a href=""><img src="img/bocongthuong.webp" style="margin-left: 15px;"></a></div>
        </div>

        <p><i class="fas fa-home" style="color: darkred;"></i><b>Địa chỉ:</b> CH2.2, Tầng 2, Tòa Handiresco, Số 31
            Lê Văn Lương, Phường Nhân Chính, Quận Thanh Xuân, TP. Hà Nội</p>
        <p><i class="fa fa-phone" style="font-size:15px; color: darkred;"></i><b>Số điện thoại</b>: 0988423902</p>
        <p><i class="fa fa-envelope" style="color: darkred;"></i><b>Email:</b> duythai@gmail.com</p>
        <p><i class="fa fa-copyright" style="color: darkred;"></i><b>Bản quyền thuộc SERI SPORTWEAR</b></p>

        <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/dt.nguyrn_/" class="fa fa-instagram"></a>
        </div>
    </section>

    <!-- * ------------------------------------------APP CONTAINER------------------------------------- */ -->
    <section class="app-container">
        <p>Tải ứng dụng shopping</p>
        <div class="app-google">
            <img src="img/googleapp.png">
            <img src="img/appleapp.png">
        </div>
        <p>Nhận thông tin về sản phẩm</p>
        <input type="text" placeholder="Nhập địa chỉ email">
        <button class="buttonsend"> <i class="fa fa-envelope"></i></button>
    </section>

    <section class="footer-right">
        <div class="quick-link">
            <h1 class="" style="color: darkred;">Quick Links</h1>
            <div class="list_quicklink">
                <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i> Home</a>
                <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i> Our Shop</a>
                <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i> Shop Detail</a>
                <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i> Shopping Cart</a>
                <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i> Checkout</a>
                <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i> Liên hệ</a>
            </div>
        </div>
    </section>

</footer>







</body>

<script>

    <!-- * ------------------------------------------Scroll thì header sẽ chuyển màu trắng------------------------------------- */ - ->
    const header = document.querySelector("header ")
    window.addEventListener("scroll", function () {
        x = window.pageYOffset
        // Nếu di chuột xuống
        if (x > 0) {
            header.classList.add("sticky")

        }
        else {
            header.classList.remove("sticky")
        }
    })






    < !--Xử lý phần banner chuyển ảnh ở dưới header-- >
    const imgPosition = document.querySelectorAll(".aspect-ratio-169 img")
    const imgContainer = document.querySelector('.aspect-ratio-169')
    const dotItem = document.querySelectorAll(".dot")
    let imgNumber = imgPosition.length
    let index = 0
    imgPosition.forEach(function (image, index) {
        image.style.left = index * 100 + "%"
        dotItem[index].addEventListener("click", function () {
            slider(index)
        })
    })
    < !--xử lý phần chuyển ảnh-- >
    function imgSlide() {

        index++;
        console.log(index)
        if (index >= imgNumber) {
            index = 0;
        }
        slider(index)

    }
    < !--5 giây sẽ chuyển ảnh 1 lần-- >
    setInterval(imgSlide, 3000)
    //Xử lý phần chấm ở ảnh banner
    function slider(index) {
        imgContainer.style.left = "-" + index * 100 + "%"
        const dotActive = document.querySelector('.active')
        dotActive.classList.remove("active")
        dotItem[index].classList.add("active")

    }
</script>
<script src="./js/script.js">

</script>

</html>